/* Estilo para el body */
body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo comentado anterior */
/*
header {
    background-color: #69bd45;
    color: #fff;
    text-align: center;
    padding: 20px;
}
section {
    padding: 20px;
}
footer {
    background-color: #d4ff00;
    color: #fff;
    padding: 20px 0;
}
.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
*/

/* Nuevo estilo */
header {
    background-color: #eaebe8;
    color: #4c4d47;
    text-align: center;
    padding: 0px;
}
section {
    padding: 20px;
}
footer {
    background-color: #000000;
    color: #dadada;
    padding: 1px 0;
}
.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Estilo para el nav y enlaces */
nav {
    background-color:  #201f1f;
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #36459b;
}

/* Clase para centrar, negrita y cursivo */
.parrafo-estilo {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/* Estilo para la división */
.estilo-division {
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #adadad;
}

/* Estilos para las imágenes */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 3px solid #1d1d1d;
    border-radius: 20px;
}

